<button mat-raised-button color="primary" (click)="goBack()">
	<mat-icon>keyboard_arrow_left</mat-icon>
	{{'goBack' | translate}}
</button>

<h3>{{'translation' | translate}}</h3>
<p><strong>{{'updateDate' | translate}}:</strong> {{auditedTranslation.updateDate | date:'dd.MM.yyyy HH:mm'}}</p>
<p><strong>{{'createdBy' | translate}}:</strong> {{auditedTranslation.createdBy}}</p>
<p><strong>{{'content' | translate}}:</strong> {{auditedTranslation.content}}</p>
<p><strong>{{'locale' | translate}}:</strong> {{auditedTranslation.locale}}</p>
<p *ngIf="auditedTranslation.isValid"><strong>{{'isValid' | translate}}:</strong> {{'yes' | translate}}</p>
<p *ngIf="!auditedTranslation.isValid"><strong>{{'isValid' | translate}}:</strong> {{'no' | translate}}</p>

<mat-divider></mat-divider>

<h3>{{'history' | translate}}</h3>
<ol>
	<li *ngFor="let version of translationVersions">
		<p>
			<strong>{{'updateDate' | translate}}:</strong> {{version.updateDate | date:'dd.MM.yyyy HH:mm'}}
		</p>
		<p>
			<strong>{{'createdBy' | translate}}:</strong> {{version.createdBy}}
		</p>
		<div class="subcontent">
			<p>
				<strong>{{'content' | translate}}:</strong> {{version.content}}
			</p>
			<p *ngIf="version.isValid">
				<strong>{{'isValid' | translate}}:</strong> {{'yes' | translate}}
			</p>
			<p *ngIf="!version.isValid">
				<strong>{{'isValid' | translate}}:</strong> {{'no' | translate}}
			</p>

		</div>

	</li>
</ol>
<mat-spinner *ngIf="loadingResults"></mat-spinner>
<p *ngIf="!loadingResults && translationVersions.length < 1">
	{{'noHistory' | translate}}.
</p>
