<button mat-raised-button color="primary" (click)="goBack()">
	<mat-icon>keyboard_arrow_left</mat-icon>
	Go back
</button>

<h3>Translation</h3>
<p><strong>Update date:</strong> {{auditedTranslation.updateDate | date:'dd.MM.yyyy HH:mm'}}</p>
<p><strong>Created by:</strong> {{auditedTranslation.createdBy}}</p>
<p><strong>Content:</strong> {{auditedTranslation.content}}</p>
<p><strong>Locale:</strong> {{auditedTranslation.locale}}</p>
<p *ngIf="auditedTranslation.isValid"><strong>Is valid:</strong> Yes</p>
<p *ngIf="!auditedTranslation.isValid"><strong>Is valid:</strong> No</p>

<mat-divider></mat-divider>

<h3>History</h3>
<ol>
	<li *ngFor="let version of translationVersions">
		<p>
			<strong>Update date:</strong> {{version.updateDate | date:'dd.MM.yyyy HH:mm'}}
		</p>
		<p>
			<strong>Created by:</strong> {{version.createdBy}}
		</p>
		<div class="subcontent">
			<p>
				<strong>Content:</strong> {{version.content}}
			</p>
			<p *ngIf="version.isValid">
				<strong>Is valid:</strong> Yes
			</p>
			<p *ngIf="!version.isValid">
				<strong>Is valid:</strong> No
			</p>

		</div>

	</li>
</ol>
<mat-spinner *ngIf="loadingResults"></mat-spinner>
<p *ngIf="!loadingResults && translationVersions.length < 1">
	No history found.
</p>
