@import "~src/theme-variables";

table {
  width: 99%;
  margin: auto;
}

.table-container {
  min-height: 50px;
  margin: 5px;
}

th {
  font-size: 18px;
  font-weight: bold;
}

.filter-paginator-wrapper {
  margin-left: 12px;
  margin-top: 5px;
  display: flex;
  justify-content: space-between;
}

.highlight {
  background: $highlight-primary;
}

.spacer {
  flex: 1 1 auto;
}


tr.project-row:not(.project-expanded-row):hover {
  background: $highlight-primary;

  .mat-cell {
	color: black;
  }
}

tr.project-row:not(.project-expanded-row):active {
  background: $highlight-primary;

  .mat-cell {
	color: black;
  }
}

.project-detail {
  cursor: auto;
  overflow: hidden;
}

tr.project-detail-row {
  height: 0;
}

.project-row td {
  border-bottom-width: 0;
}

.mat-cell {
  padding-right: 5px;
  padding-left: 5px;
}

.mat-header-cell {
  padding-right: 5px;
  padding-left: 5px;
}

.padding-inside {
  padding: 10px;
}

td:hover {
  cursor: pointer;
}

.highlight-accent {
  background: $highlight-accent;
}
