<div class="filter-paginator-wrapper">
	<div>
		<mat-form-field>
			<input matInput (keyup)="applyFilter($event.target.value)" placeholder="Filter">
		</mat-form-field>
	</div>
	<span class="spacer"></span>
	<div>
		<mat-paginator [pageSizeOptions]="[10, 20, 50]" showFirstLastButtons></mat-paginator>
	</div>
</div>
<div class="table-container mat-elevation-z8">
	<table class="table-container" mat-table [dataSource]="dataSource" matSort multiTemplateDataRows>

		<ng-container matColumnDef="name">
			<th mat-header-cell *matHeaderCellDef mat-sort-header>Name</th>
			<td mat-cell *matCellDef="let project" matTooltip="{{project.name}}" matTooltipClass="tooltip-font">{{project.name | shorten:[60, '...']}}</td>
		</ng-container>

		<ng-container matColumnDef="sourceLocale">
			<th mat-header-cell *matHeaderCellDef>Source locale</th>
			<td mat-cell *matCellDef="let project">{{project.sourceLanguage}}_{{project.sourceCountry}}</td>
		</ng-container>

		<ng-container matColumnDef="targetLocales">
			<th mat-header-cell *matHeaderCellDef>Target locales</th>
			<td mat-cell *matCellDef="let project">{{project.targetLocales.join(', ')}}</td>
		</ng-container>

		<ng-container matColumnDef="actions">
			<th mat-header-cell *matHeaderCellDef>Actions</th>
			<td mat-cell *matCellDef="let project">
				<p>
					<button color="primary" mat-button (click)="editProject(project)">
						<mat-icon>edit</mat-icon>
						Edit
					</button>
				</p>
			</td>
		</ng-container>


		<ng-container matColumnDef="projectDetails">
			<td mat-cell *matCellDef="let project" [attr.colspan]="displayedColumns.length">
				<div class="project-detail" [@detailExpand]="project == expandedRow ? 'expanded' : 'collapsed'">
					<div class="padding-inside">
						<p>
							<strong>Project name:</strong> {{project.name}}
						</p>
						<p>
							<strong>Target locales:</strong> {{project.targetLocales.join(',  ')}}
						</p>

					</div>
				</div>
			</td>
		</ng-container>

		<ng-container matColumnDef="add-new-project">
			<th [attr.colspan]="displayedColumns.length" mat-header-cell *matHeaderCellDef>
				<div class="add-button">
					<button mat-raised-button color="accent" type="button" (click)="toggleForm()">Add new project</button>
				</div>
			</th>
		</ng-container>

		<tr mat-header-row *matHeaderRowDef="['add-new-project']"
			class="example-second-header-row">
		</tr>

		<tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
		<tr mat-row *matRowDef="let row; columns: displayedColumns"
			class="project-row"
			[ngClass]="{'highlight': selectedRowIndex == row.id, 'highlight-accent': expandedRow == row}"
			[class.project-expanded-row]="expandedRow === row"
			(click)="expandedRow = expandedRow === row ? null : row"></tr>
		<tr mat-row *matRowDef="let row; columns: ['projectDetails']" class="project-detail-row"></tr>
	</table>
</div>

<app-nothing-found [nothingFound]="dataSource.filteredData.length == 0" [message]="'Nothing found.'"></app-nothing-found>
