<div fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="10px">
	<div>
		<mat-form-field class="select-project">
			<mat-label>Select project</mat-label>
			<mat-select [compareWith]="compareProjects" (selectionChange)="changeProject($event.value)" [(ngModel)]="selectedProject">
				<mat-option *ngFor="let project of projects" [value]="project">
					{{project.name}}
				</mat-option>
			</mat-select>
		</mat-form-field>
	</div>
	<div *ngIf="selectedProject !== null" class="select-locale">
		<mat-form-field>
			<mat-label>Select locale</mat-label>
			<mat-select (selectionChange)="selectLocale($event.value)">
				<mat-option *ngFor="let locale of availableLocales" [value]="locale.locale">
					{{locale.locale}}
				</mat-option>
			</mat-select>
		</mat-form-field>
	</div>
</div>

<mat-divider></mat-divider>

<div fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="10px" *ngIf="selectedProject">
	<mat-label>Get report for selected locales:</mat-label>
	<mat-form-field>
		<mat-label>Locales</mat-label>
		<mat-select multiple [formControl]="selectedLocales">
			<mat-option *ngFor="let locale of availableLocales"
						[value]="locale.locale">{{locale.locale}}
			</mat-option>
		</mat-select>
	</mat-form-field>
	<div fxLayoutGap="10px">
		<button mat-raised-button
				color="primary"
				matTooltip="Download report with list of missing translations"
				matTooltipClass="tooltip-font"
				[disabled]="!selectedProject || selectedLocales.value === null || selectedLocales.value.length < 1"
				(click)="downloadReport()">
			Download report
		</button>
		<input #csvInput hidden="true" type="file" onclick="this.value=null" (change)="importCSV($event)" accept=".csv"/>
		<button mat-raised-button
				color="primary"
				matTooltip="Upload csv file with translations"
				matTooltipClass="tooltip-font"
				[disabled]="!selectedProject"
				(click)="csvInput.click()">
			Upload translations
		</button>
	</div>
</div>

<mat-divider></mat-divider>

<div fxLayout="row" fxLayoutAlign="space-evenly start">
	<div class="app-table-wrapper">
		<app-tra-messages-table [messages]="messages"
								(formSubmitted)="formAction($event)"
								(sendSelectedLocale)="selectLocale($event)"
								(invalidateTranslationEvent)="invalidateTranslation($event)"
								[selectedProject]="selectedProject"
								[selectedLocale]="selectedLocale"
		></app-tra-messages-table>
	</div>
</div>

