<div>

</div>


<div fxLayout="row" fxLayoutAlign="space-between">
	<div [class.when-form-visible]="showProjectForm" [class.when-form-hidden]="!showProjectForm">
		<div fxLayout="row wrap" fxLayoutAlign="start center" fxLayoutGap="10px">
			<div>
				<mat-form-field class="select-project">
					<mat-label>{{'selectProject' | translate}}</mat-label>
					<mat-select [compareWith]="compareProjects" (selectionChange)="changeProject($event.value)"
								[(ngModel)]="selectedProject">
						<mat-option *ngFor="let project of projects" [value]="project">
							{{project.name}}
						</mat-option>
					</mat-select>
				</mat-form-field>
			</div>
			<div fxLayoutGap="10px" *ngIf="selectedProject">
				<input #csvInput hidden="true" type="file" onclick="this.value=null" (change)="importCSV($event)"
					   accept=".csv"/>
				<button mat-raised-button
						color="primary"
						matTooltip="{{'importMessagesTooltip' | translate}}"
						matTooltipClass="tooltip-font"
						[disabled]="!selectedProject"
						(click)="csvInput.click()">
					{{'importMessages' | translate}}
				</button>
			</div>


			<span style="flex: 1 1 auto;"></span>
			<div>
				<button mat-raised-button [matMenuTriggerFor]="menu">Manage projects</button>
				<mat-menu #menu="matMenu">
					<button mat-menu-item (click)="newProject()">New project</button>
					<button mat-menu-item (click)="editCurrentProject()" [disabled]="!selectedProject">Edit</button>
				</mat-menu>

			</div>

		</div>

		<mat-divider></mat-divider>
		<div fxLayoutGap="10px" *ngIf="selectedProject">
			<mat-form-field>
				<mat-label>{{'locales' | translate}}</mat-label>
				<mat-select #localesSelect multiple [formControl]="selectedLocalesFormControl">
					<mat-option [value]="" (click)="toggleAllSelection()">All</mat-option>
					<mat-option *ngFor="let locale of availableLocales"
								[value]="locale.locale">{{locale.locale}}
					</mat-option>
				</mat-select>
			</mat-form-field>
			<button mat-raised-button
					color="primary"
					matTooltip="Download translated messages for selected locales"
					matTooltipClass="tooltip-font"
					[disabled]="!selectedProject || selectedLocalesFormControl.value === null || selectedLocalesFormControl.value.length < 1"
					(click)="downloadTranslatedMessagesForGivenLocales()">
				Download selected
			</button>

			<button mat-raised-button
					color="primary"
					matTooltip="Download all messages for fully translated locales"
					matTooltipClass="tooltip-font"
					[disabled]="!selectedProject"
					(click)="downloadFullyTranslatedMessages()">
				Download all
			</button>

		</div>

		<mat-divider></mat-divider>

		<div [id]="aggregateInfoId" style="margin-top: 16px; margin-bottom: 16px;">
			<app-aggregate-info [selectedProjectId]="selectedProjectId"></app-aggregate-info>
		</div>

		<mat-divider></mat-divider>

		<div *ngIf="showForm" class="form-wrapper">
			<mat-card id="form-messages" *ngIf="showForm" class="form-container mat-elevation-z4">
				<h1>{{formMode}} message</h1>
				<mat-label *ngIf="!selectedProject" class="warning"><strong>Project not selected!</strong></mat-label>

				<form [formGroup]="messageParams">

					<mat-form-field class="form-field">
						<input formControlName="key"
							   placeholder="{{'key' | translate}}"
							   matInput
							   required>
						<mat-error *ngIf="messageParams.get('key').hasError('required')">
							Message key is <strong>required</strong>
						</mat-error>
					</mat-form-field>

					<mat-form-field>
						<input formControlName="content"
							   placeholder="{{'content' | translate}}"
							   matInput
							   required>
						<mat-error *ngIf="messageParams.get('content').hasError('required')">
							Message content is <strong>required</strong>
						</mat-error>
					</mat-form-field>

					<mat-form-field>
			<textarea formControlName="description"
					  placeholder="{{'description' | translate}}"
					  matInput
					  cdkTextareaAutosize
					  cdkAutosizeMinRows="1"
					  cdkAutosizeMaxRows="5"></textarea>
					</mat-form-field>

					<div class="buttons-row">
						<button class="button-spacer" mat-raised-button color="accent" type="button" [disabled]="(!messageParams.valid || !selectedProject)" (click)="createMessage(messageParams)">
							{{formMode | translate}}
						</button>
						<button class="button-spacer" mat-button color="warn" type="button" (click)="cancelUpdate()">
							{{'cancel' | translate}}
						</button>
						<button mat-raised-button color="warn" type="button" (click)="clearForm(messageParams)">
							{{'clear' | translate}}
						</button>
					</div>

				</form>
			</mat-card>
		</div>

		<div [id]="messagesTableId" fxLayout="row" fxLayoutAlign="space-evenly start">
			<div class="app-table-wrapper">
				<app-dev-messages-table
					[messages]="messages"
					[selectedRowIndex]="selectedRowIndex"
					(editEvent)="editMessage($event)"
					(formToggle)="toggleForm($event)"
					(archiveEvent)="archiveMessage($event)"
					[selectedProject]="selectedProject"></app-dev-messages-table>
			</div>
		</div>
	</div>

	<div *ngIf="showProjectForm">
		<app-dev-project-form (hideForm)="projectActionComplete($event)" [formModeInput]="projectFormMode"></app-dev-project-form>
	</div>
</div>
