<h1 *ngIf="!data" mat-dialog-title>Are you sure you want to remove this item?</h1>
<div *ngIf="!data" mat-dialog-actions>
	<button mat-raised-button color="primary" mat-dialog-close cdkFocusInitial (click)="toRemove()">Remove</button>
	<button mat-button color="warn" (click)="onNoClick()">Cancel</button>
</div>



<h1 *ngIf="data" mat-dialog-title>{{data.customMessage}}</h1>
<div *ngIf="data" mat-dialog-actions>
	<button mat-raised-button color="primary" mat-dialog-close cdkFocusInitial (click)="toRemove()">{{data.buttons[0]}}</button>
	<button mat-button color="warn" (click)="onNoClick()">{{data.buttons[1]}}</button>
</div>
