<div fxLayout="row" fxLayoutAlign="space-evenly start">
	<div class="app-table-wrapper">
		<app-dev-projects-table [projects]="projects"
								[selectedRowIndex]="selectedRowIndex"
								[isLoadingResults]="isLoadingResults"
								(editEvent)="editProject($event)"
								(formToggle)="toggleForm()"
								(removeEvent)="removeProject($event)"
								(downloadEvent)="downloadTranslations($event)"></app-dev-projects-table>

	</div>
	<div *ngIf="showForm" class="form-wrapper">
		<mat-card *ngIf="showForm" class="form-container mat-elevation-z4">
			<h1>{{formMode | translate}} {{'project' | translate | lowercase}}</h1>
			<form [formGroup]="projectParams">

				<mat-form-field class="form-field">
					<input formControlName="projectName"
						   placeholder="{{'projectName' | translate}} *"
						   matInput>
					<mat-error *ngIf="projectNameControl.hasError('required')"
							   [innerHTML]="'projectRequired' | translate">

					</mat-error>
				</mat-form-field>

				<div class="divider-wrapper">
					<mat-divider></mat-divider>
				</div>

				<mat-label>{{'sourceLocale' | translate}}</mat-label>
				<mat-form-field>
					<input formControlName="sourceLanguage"
						   placeholder="{{'sourceLocale' | translate}}"
						   [matAutocomplete]="autoSourceLanguage"
						   matInput required>
					<mat-autocomplete #autoSourceLanguage="matAutocomplete">
						<mat-option *ngFor="let language of filteredLanguages | async" [value]="language"
									(onSelectionChange)="onSelectSourceLanguage(language)">
							{{language}}
						</mat-option>
					</mat-autocomplete>
					<mat-error *ngIf="sourceLanguageControl.hasError('required')"
							   [innerHTML]="'sourceRequired' | translate">

					</mat-error>
					<mat-error *ngIf="sourceLanguageControl.hasError('pattern')">
						{{'wrongPattern' | translate}}
					</mat-error>
				</mat-form-field>

				<mat-form-field>
					<input formControlName="sourceCountry"
						   placeholder="{{'sourceCountryPlaceholder' | translate}}"
						   [matAutocomplete]="autoSourceCountry"
						   matInput required>
					<mat-autocomplete #autoSourceCountry="matAutocomplete">
						<mat-option *ngFor="let country of filteredCountries | async" [value]="country"
									(onSelectionChange)="onSelectSourceCountry(country)">
							{{country}}
						</mat-option>
					</mat-autocomplete>
					<mat-error *ngIf="sourceCountryControl.hasError('required')"
							   [innerHTML]="'sourceCountry' | translate">

					</mat-error>
					<mat-error *ngIf="sourceCountryControl.hasError('pattern')">
						{{'wrongPatternBig' | translate}}
					</mat-error>
				</mat-form-field>

				<div class="divider-wrapper">
					<mat-divider></mat-divider>
				</div>

				<mat-label>{{'targetLocales' | translate}}</mat-label>

				<mat-form-field>
					<input formControlName="targetLanguage"
						   placeholder="{{'targetLanguage' | translate}}"
						   [matAutocomplete]="autoTargetLanguage"
						   matInput>
					<button mat-button *ngIf="projectParams.get('targetLanguage').value" matSuffix mat-icon-button
							aria-label="Clear" type="button"
							(click)="projectParams.get('targetLanguage').patchValue(null, {emitEvent: true})">
						<mat-icon>close</mat-icon>
					</button>
					<mat-autocomplete #autoTargetLanguage="matAutocomplete">
						<mat-option *ngFor="let language of filteredTargetLanguages | async" [value]="language">
							{{language}}
						</mat-option>
					</mat-autocomplete>
				</mat-form-field>

				<mat-form-field>
					<input formControlName="targetCountry"
						   placeholder="{{'targetCountry' | translate}}"
						   [matAutocomplete]="autoTargetCountry"
						   matInput>
					<button mat-button *ngIf="projectParams.get('targetCountry').value" matSuffix mat-icon-button
							aria-label="Clear" type="button"
							(click)="projectParams.get('targetCountry').patchValue(null, {emitEvent: true})">
						<mat-icon>close</mat-icon>
					</button>
					<mat-autocomplete #autoTargetCountry="matAutocomplete">
						<mat-option *ngFor="let country of filteredTargetCountries | async" [value]="country">
							{{country}}
						</mat-option>
					</mat-autocomplete>
				</mat-form-field>

				<button class="form-button" type="button" mat-button color="primary" (click)="addNewTargetLocale()"
						[disabled]="!( projectParams.get('targetLanguage').value && projectParams.get('targetCountry').value)">
					<mat-icon>add</mat-icon>
					{{'addTargetLocale' | translate}}
				</button>

				<div class="chip-list-wrapper">
					<mat-chip-list minlength="2">
						<mat-chip
								*ngFor="let cat of selectedTargetLocales"
								[selectable]="true"
								[removable]="true"
								(removed)="removeTargetLocale(cat)">
							{{cat}}
							<mat-icon matChipRemove *ngIf="true">cancel</mat-icon>
						</mat-chip>
					</mat-chip-list>
				</div>

				<mat-label *ngIf="selectedTargetLocales.length < 1" class="target-locales-info"
						   [innerHTML]="'oneTargetLocaleRequired' | translate"></mat-label>

				<div class="divider-wrapper">
					<mat-divider></mat-divider>
				</div>

				<div *ngIf="selectedTargetLocales.length < 2"
					 class="replacements">{{'selectLocaleAndTarget' | translate}}</div>
				<div *ngIf="(selectedTargetLocales.length > 0 && sourceLocale !== null) || selectedTargetLocales.length > 1"
					 formArrayName="replacableLocale" class="replacements">
					<div *ngFor="let locale of projectParams.get('replacableLocale').controls; let i=index">
						<div>
							<mat-label>{{'substitute' | translate}} {{i + 1}}</mat-label>
							<button mat-button color="warn"
									*ngIf="this.projectParams.get('replacableLocale').length > 0" type="button"
									(click)="removeReplacableLocale(i)">
								<mat-icon>clear</mat-icon>
								{{'remove' | translate}}
							</button>
						</div>

						<div fxLayout="row" fxLayoutAlign="start start">
							<mat-form-field fxFlex="40" [formGroupName]="i">
								<mat-select formControlName="target" placeholder="{{'target' | translate}}">
									<mat-option *ngFor="let locale of selectedTargetLocales.sort()" [value]="locale">
										{{locale}}
									</mat-option>
								</mat-select>
							</mat-form-field>
							<div fxFlex="5"></div>
							<mat-form-field fxFlex="40" [formGroupName]="i">
								<mat-select formControlName="replacement" placeholder="{{'substitute'| translate}}">
									<mat-option *ngFor="let locale of availableReplacements.sort()" [value]="locale">
										{{locale}}
									</mat-option>
								</mat-select>
							</mat-form-field>
						</div>
					</div>
				</div>

				<button class="form-button" [disabled]="(availableReplacements.length < 2)" mat-button type="button"
						color="primary" (click)="addReplacableLocale()">
					<mat-icon>add</mat-icon>
					{{'addReplacements' | translate}}
				</button>

				<div class="divider-wrapper">
					<mat-divider></mat-divider>
				</div>

				<div class="buttons-row">
					<button (click)="createProject(projectParams)" class="button-spacer" mat-raised-button
							color="accent" type="button"
							[disabled]="!(projectParams.valid && selectedTargetLocales.length > 0)">
						{{formMode | translate}}
					</button>
					<button class="button-spacer" mat-button color="warn" type="button" (click)="cancelUpdate()">
						{{'cancel' | translate}}
					</button>
					<button mat-raised-button color="warn" type="button" (click)="clearForm()">
						{{'clear' | translate}}
					</button>
				</div>

			</form>
		</mat-card>
	</div>
</div>
