<div class="footer">
  <div class="links">
    <div class="help-links">
      <p class="header">{{'help' | translate}}</p>
      <a routerLink="#">{{'yOrders' | translate}}</a>
      <a routerLink="#">{{'yAccount' | translate}}</a>
      <a routerLink="#">{{'helpCenter' | translate}}</a>
    </div>
    <div class="about-links">
      <p class="header">{{'aboutUs' | translate}}</p>
      <a routerLink="#">{{'careers' | translate}}</a>
      <a routerLink="#">{{'aboutExample' | translate}}</a>
      <a routerLink="#">{{'blog' | translate}}</a>
    </div>
  </div>

  <p class="copyright">© 2020 Example app</p>

</div>
