<div class="filter-paginator-wrapper">
	<div>
		<mat-form-field>
			<input matInput (keyup)="applyFilter($event.target.value)" placeholder="Filter">
		</mat-form-field>
	</div>
	<span class="spacer"></span>
	<div>
		<mat-paginator [pageSizeOptions]="[10, 20, 50]" showFirstLastButtons></mat-paginator>
	</div>
</div>
<div class="table-container mat-elevation-z8">
	<table mat-table [dataSource]="dataSource" matSort multiTemplateDataRows>

		<ng-container matColumnDef="index">
			<th mat-header-cell *matHeaderCellDef>No.</th>
			<td mat-cell *matCellDef="let message">{{message.id}}</td>
		</ng-container>

		<ng-container matColumnDef="content">
			<th mat-header-cell *matHeaderCellDef>Content</th>
			<td mat-cell *matCellDef="let message">{{message.content | shorten: [60, '...']}}</td>
		</ng-container>

		<ng-container matColumnDef="existing">
			<th mat-header-cell *matHeaderCellDef>Existing</th>
			<td mat-cell *matCellDef="let message">
				<p *ngIf="message.translation">
					<mat-icon color="accent">check_circle_outline</mat-icon>
				</p>
				<p *ngIf="!message.translation">
					<mat-icon color="warn">highlight_off</mat-icon>
				</p>
			</td>
		</ng-container>

		<ng-container matColumnDef="valid">
			<th mat-header-cell *matHeaderCellDef>Valid</th>
			<td mat-cell *matCellDef="let message">
				<p *ngIf="message.translation">
					<mat-icon color="accent" *ngIf="message.translation.isValid">check_circle_outline</mat-icon>
					<mat-icon color="warn" *ngIf="!message.translation.isValid">highlight_off</mat-icon>
				</p>
				<p *ngIf="!message.translation">
					-
				</p>

			</td>
		</ng-container>

		<ng-container matColumnDef="upToDate">
			<th mat-header-cell *matHeaderCellDef>Up to date</th>
			<td mat-cell *matCellDef="let message">
				<p *ngIf="message.translation">
					<mat-icon color="accent" *ngIf="!isTranslationOutdated(message)">check_circle_outline</mat-icon>
					<mat-icon color="warn" *ngIf="isTranslationOutdated(message)">highlight_off</mat-icon>
				</p>
				<p *ngIf="!message.translation">
					-
				</p>
			</td>
		</ng-container>


		<ng-container matColumnDef="actions">
			<th mat-header-cell *matHeaderCellDef>Actions</th>
			<td mat-cell *matCellDef="let message">
				<p>
					<button mat-button color="primary" (click)="addTranslation(message)" *ngIf="!selectedLocale || !message.translation" matTooltip="Add new translation" matTooltipClass="tooltip-font">
						<mat-icon>add</mat-icon>
						Add
					</button>
					<button mat-button (click)="updateTranslation(message)" *ngIf="selectedLocale && message.translation" matTooltip="Update translation" matTooltipClass="tooltip-font">
						<mat-icon>update</mat-icon>
						Update
					</button>
					<button mat-button color="warn" (click)="invalidateTranslation(message)" *ngIf="selectedLocale && message.translation && message.translation.isValid" matTooltip="Invalidate translation if it's not correct" matTooltipClass="tooltip-font">
						<mat-icon>highlight_off</mat-icon>
						Invalidate
					</button>
				</p>
			</td>
		</ng-container>

		<ng-container matColumnDef="messageDetails">
			<td mat-cell *matCellDef="let row" [attr.colspan]="displayedColumns.length">
				<div class="message-detail" [@detailExpand]="row == expandedRow ? 'expanded' : 'collapsed'">
					<div class="padding-inside">

						<p>
							<strong>Key:</strong> {{row.key}}
						</p>
						<p>
							<strong>Update date:</strong> {{row.updateDate | date:'dd.MM.yyyy HH:mm'}}
						</p>

						<p>
							<strong>Content:</strong> {{row.content}}
						</p>
						<p>
							<strong>Description: </strong> {{row.description}}
						</p>

						<p *ngIf="selectedLocale === null" class="warning">
							Select locale to see translations.
						</p>

						<hr *ngIf="selectedLocale !== null">
						<p *ngIf=" row.translation !== null && !isTranslationOutdated(row)">
							<strong>Last updated: </strong> {{row.translation.updateDate | date:'dd.MM.yyyy HH:mm' }}
						</p>
						<div *ngIf="selectedLocale !== null">
							<div *ngIf="isTranslationOutdated(row)">
								<p class="warning">
									Translation is outdated.
								</p>
								<p>
									<strong>Previous message content: </strong> {{row.previousMessageContent}}
								</p>
							</div>
							<p *ngIf="row.translation !== null && row.translation !== undefined">
								<strong>Translation: </strong> {{row.translation.content}}
							</p>
							<p *ngIf="row.translation === null" class="warning">
								<strong>Translation: </strong> none.
							</p>
							<p *ngIf="row.substitute">
								<strong>Substitute from locale {{row.substitute.locale}}:</strong> {{row.substitute.content}}
							</p>

							<div *ngIf="row.translation !== null && !row.translation.isValid">
								<p class="warning">
									Translation has been invalidated.
								</p>
								<p>
									Previous translation content: NOT IMPLEMENTED
								</p>
							</div>


						</div>
					</div>

				</div>
			</td>
		</ng-container>

		<tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
		<tr mat-row *matRowDef="let row; columns: displayedColumns"
			class="message-row"
			[ngClass]="{'highlight': selectedRowIndex == row.id, 'highlight-accent': expandedRow == row }"
			[class.message-expanded-row]="expandedRow === row"
			(click)="expandedRow = expandedRow === row ? null : row"></tr>
		<tr mat-row *matRowDef="let row; columns: ['messageDetails']" class="message-detail-row"></tr>

	</table>
</div>
<app-nothing-found [nothingFound]="messages.length == 0 && !isLoadingResults" [message]="'Select project to see messages.'"></app-nothing-found>
