<button mat-raised-button color="primary" (click)="goBack()">
	<mat-icon>keyboard_arrow_left</mat-icon>
	{{'goBack' | translate}}
</button>

<h3>{{'message' | translate}}</h3>
<p><strong>{{'updateDate' | translate}}:</strong> {{auditedMessage.updateDate | date:'dd.MM.yyyy HH:mm'}}</p>
<p><strong>{{'createdBy' | translate}}:</strong> {{auditedMessage.createdBy}}</p>
<p><strong>{{'key' | translate}}:</strong> {{auditedMessage.key}}</p>
<p><strong>{{'content' | translate}}:</strong> {{auditedMessage.content}}</p>
<strong>{{'description' | translate}}:</strong> {{auditedMessage.description}}


<mat-divider></mat-divider>

<h3>{{'history' | translate}}</h3>
<ol>
	<li *ngFor="let version of messageVersions">
		<p>
			<strong>{{'updateDate' | translate}}:</strong> {{version.updateDate | date:'dd.MM.yyyy HH:mm'}}
		</p>
		<p>
			<strong>{{'createdBy' | translate}}:</strong> {{version.createdBy}}
		</p>
		<div class="subcontent">
			<p>
				<strong>{{'key' | translate}}:</strong> {{version.key}}
			</p>
			<p>
				<strong>{{'content' | translate}}:</strong> {{version.content}}
			</p>
			<p>
				<strong>{{'description' | translate}}:</strong> {{version.description}}
			</p>

		</div>

	</li>
</ol>
<mat-spinner *ngIf="loadingResults"></mat-spinner>
<p *ngIf="!loadingResults && messageVersions.length < 1">
	{{'noHistory' | translate}}.
</p>

