<form [formGroup]="translationForm">

	<mat-form-field>
			<textarea formControlName="content"
					  placeholder="{{'content' | translate}}"
					  matInput
					  cdkTextareaAutosize
					  cdkAutosizeMinRows="1"
					  cdkAutosizeMaxRows="10"
					  required></textarea>
	</mat-form-field>

	<div>
		<button class="button-spacer" mat-raised-button color="accent" type="button" [disabled]="!translationForm.valid"
				(click)="submitTranslationForm(translationForm)">
			{{formMode | translate}}
		</button>
		<button class="button-spacer" mat-button color="warn" type="button" (click)="cancelForm()">
			{{'cancel' | translate}}
		</button>
		<button mat-raised-button color="warn" type="button" (click)="clearForm()">
			{{'clear' | translate}}
		</button>
	</div>

</form>

