<mat-card class="card">
  <mat-card-title>
    Categories
  </mat-card-title>
  <mat-card-content>
    <mat-selection-list #categoriesList [multiple]="false">
      <mat-list-option *ngFor="let category of categories" [value]="category">
        {{category}}
      </mat-list-option>
    </mat-selection-list>
  </mat-card-content>

  <mat-card-footer>
    <p class="selected">
      Selected category: {{categoriesList.selectedOptions.selected[0]?.value}}
    </p>
  </mat-card-footer>

</mat-card>

